<IfModule mod_rewrite.c>
Options +FollowSymlinks
Options -MultiViews
RewriteEngine on
IndexIgnore *
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.+)/$ $1 [R=301,L]

RewriteRule ^avatar/([^/]+)/([^/]+)/(f|l|r|b|front|left|right|back)$ face.php?u=$1&s=$2&v=$3
RewriteRule ^avatar/([^/]+)/(f|l|r|b|front|left|right|back)$ face.php?u=$1&v=$2
RewriteRule ^avatar/([^/]+)/([^/]+)$ face.php?u=$1&s=$2
RewriteRule ^avatar/([^/]+)$ face.php?u=$1
RewriteRule ^skin/([^/]+)/([^/]+)$ skin.php?u=$1&s=$2
RewriteRule ^skin/([^/]+)$ skin.php?u=$1
</ifModule>